---
import BaseLayout from '../../layouts/BaseLayout.astro';

import ContactCTA from '../../components/ContactCTA.astro';
import Hero from '../../components/Hero.astro';
---

<BaseLayout title="Expérience | Léo Wadin" description="À propos de Léo Wadin Lorem Ipsum">
	<div class="stack gap-20">
		<main class="wrapper about">
			<Hero
				title="Expérience"
				tagline="Plongez dans mon parcours professionnel et découvrez mon background."
			>

			<img
					width="1536"
					height="864"
					src="/assets/me.jpg"
					alt="Léo Wadin dans un restaurant, regardant le menu."
				/>
	
			</Hero>

			<section>
				<div class="section-header">
					<h2 class="section-title">Enedis</h2>
					<h4 class="section-subtitle">2022 - Aujourd'hui</h4>
					<img src="/assets/enedis.png" alt="Enedis" width="80%" height="auto">
				</div>

				<div class="content">
					<h5>
						3 ans en tant qu'apprenti étudiant
					</h5>
					<br>
					<p>
						Durant mon alternance chez Enedis, le principal distributeur d'électricité en France, j'ai l'opportunité de jouer un rôle important dans la conception et le développement de plusieurs solutions informatiques pour l'agence de Valenciennes. Mes principales responsabilités en tant que chef de projet et développeur sont :
					</p>
					<br>
					<ul class="exp-list">
						<li>Analyser les besoins métiers et traduire les exigences fonctionnelles en spécifications techniques.</li>
						<li>Concevoir et implémenter des solutions innovantes en utilisant des solutions approuvées par l'entreprise comme CodeIgniter.</li>
						<li>Produire des maquettes pour les outils afin de concevoir une interface claire et pratique pour les utilisateurs finaux.</li>
						<li>Maintenir et mettre à jour les solutions existantes pour se conformer aux normes ou mieux répondre aux exigences.</li>
						<li>Rédiger la documentation nécessaire à la formation des utilisateurs.</li>
					</ul>
					<br>
					<p>
						Cette expérience me permet d'affiner mes compétences techniques, mais aussi de développer une approche professionnelle et relationnelle pour relever les défis complexes de l'informatique dans un environnement en constante évolution et de mieux transcrire les besoins des utilisateurs finaux.
					</p>
				</div>
			</section>
			
		</main>

		<ContactCTA />
	</div>
</BaseLayout>

<style>

	p {
		text-align: justify;
	}

	.exp-list {
		list-style-type: disc;
		margin-left: 1.5rem;
	}

	.exp-list > li {
		margin-bottom: 0.5rem;
	}

	.flex-row {
		display: flex;
		gap: 5rem;
	}

	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-header {
		grid-column-start: 1;
	}

	.section-title {
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	.section-subtitle {
		font-size: var(--text-base);
		color: var(--gray-0);
	}
	.content {
		grid-column: 2 / 4;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}
</style>
